<div id="header">
    <div id="header-inner">
        <div id="header-box" class="clearfix">
            <div id="logo">
                <a href="http://liuxiaofang.sinaapp.com" title="带上猫咪去旅行">
                    <h1>带上猫咪去旅行</h1>
                </a>
            </div>
            <div id="nav" class="menu-menu-container">
                <ul id="menu-menu" class="menu">
                    <li id="menu-item-993" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-993">
                        <a href="http://liuxiaofang.sinaapp.com">所有图片</a>
                    </li>
            </ul>
        </div>
    </div>
</div>
</div>
